
.worker {
    border: solid .2em $tertiary-color-200;
    text-align: center;

}
.worker-name {
    background-color: $tertiary-color-400;
    color: $tertiary-color-100;
    width: 90%;
}
.worker-image {
    width: 300px;
    height: 300px;
}
.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: min-content;
    animation: grow 1000ms linear forwards;
}
.unaffordable {
    opacity: .05;
    text-align: center;
}
.hidden {
    display: none;
}