
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text-container {
    text-align: start;
}
h1, h2, h3 {
    font-weight: 900;
    color: $tertiary-color-400;
}
h1 {font-size: $base-font * 5;}
h2 {
    font-size: $base-font * 4;
    background-color: $tertiary-color-400;
    color: $tertiary-color-100;
    width: min-content;
    padding: 0 1rem;
}

@media(max-width: 600px) {
    header {
        flex-direction: column;
    }    
    .text-container {text-align: center;}
}