body, main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;
}
h1 {
    font-size: $base-font * 4; 
}
h2, button {
    font-size: $base-font * 3;
}
button {
    cursor: pointer;
    background-color: $tertiary-color-100;
    color: $tertiary-color-400;
    border: $tertiary-color-400 solid .1rem;
    transition-duration: 300ms;
    padding: 1rem;
    &:focus, &:hover {
        outline: none;
        background-color: $tertiary-color-400;
        color: $tertiary-color-100;
    }
}
input {
    cursor: pointer;
}
span {
    color: $tertiary-color-300;
}