body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: $primary-color;
    color: $secondary-color;
}
h1 {
    font-size: $max-font; 
}
h2, button {
    font-size: $max-font / 1.618;
}
button {
    background-color: $tertiary-color-100;
    color: $tertiary-color-400;
    border: $tertiary-color-400 solid .1em;
    transition-duration: 300ms;
    cursor: pointer;
    &:hover {
        background-color: $tertiary-color-400;
        color: $tertiary-color-100;
    }
    &:focus {
        outline: none;
        background-color: $tertiary-color-400;
        color: $tertiary-color-100;
    }
}
input {
    cursor: pointer;
}
span {
    padding: 0;
    margin: 0;
    color: $tertiary-color-200;
}