
$primary-color: hsl(0, 0%, 100%);
$secondary-color: hsl(0, 0%, 0%);
$tertiary-color-100: hsl(0, 100%, 80%);
$tertiary-color-200: hsl(0, 100%, 60%);
$tertiary-color-300: hsl(0, 100%, 40%);
$tertiary-color-400: hsl(0, 100%, 20%);
$max-font: 3rem;