html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

body, main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  color: black;
  text-align: center;
}

body {
  padding: 2rem;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.text-container {
  text-align: start;
}

h1, h2, h3 {
  font-weight: 900;
  color: #665c00;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 5rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

@media (max-width: 600px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text-container {
    text-align: center;
  }
}

.multiplier-container {
  font-size: 3rem;
  background-color: #665c00;
  color: white;
  text-align: left;
  width: 50%;
  margin: 1rem;
  padding: 1rem;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

[type="checkbox"] {
  cursor: pointer;
}

@media (max-width: 500px) {
  .multiplier-container {
    width: 100%;
  }
}

.worker-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.worker-list h3 {
  padding: .5rem 2rem;
}

.worker-list button {
  cursor: pointer;
  font-size: 3rem;
  background-color: #fff599;
  color: #665c00;
  border: #665c00 solid 0.1rem;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  padding: 1rem;
  margin: .5rem;
  width: 70%;
}

.worker-list button:focus, .worker-list button:hover {
  outline: none;
  background-color: #665c00;
  color: #fff599;
}

.worker-list span {
  color: #ccb800;
  padding: 0 1rem;
}

progress {
  margin: 1rem;
  border-radius: 0px;
  width: 90%;
  border: #ffeb33 solid 1rem;
}

progress::-webkit-pregress-bar, progress::-moz-progress-bar {
  background-color: #665c00;
}

progress::-webkit-progress-value {
  background-color: #665c00;
}

.worker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 5px #ffeb33;
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
  padding: 1rem;
}

.worker-name {
  width: 100%;
  cursor: pointer;
  font-size: 3rem;
  background-color: #665c00;
  color: #fff599;
  border: #fff599 solid 0.1rem;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.worker-name:focus, .worker-name:hover {
  outline: none;
  background-color: #fff599;
  color: #665c00;
}

.worker-image {
  width: 300px;
  height: 300px;
}

.detail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-animation: grow 1000ms linear forwards;
          animation: grow 1000ms linear forwards;
}

@media only screen and (max-width: 375px) {
  .worker {
    width: 100%;
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media only screen and (max-width: 660px) {
  #worker-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}
/*# sourceMappingURL=App.css.map */