* {
  padding: .2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: .1em auto;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: white;
  color: black;
}

h1 {
  font-size: 3rem;
}

h2, button {
  font-size: 1.85414rem;
}

button {
  background-color: #fff599;
  color: #665c00;
  border: #665c00 solid 0.1em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  cursor: pointer;
}

button:hover {
  background-color: #665c00;
  color: #fff599;
}

button:focus {
  outline: none;
  background-color: #665c00;
  color: #fff599;
}

input {
  cursor: pointer;
}

span {
  padding: 0;
  margin: 0;
  color: #ccb800;
}

#multiplierContainer {
  font-size: 1.85414rem;
  background-color: #ccb800;
  color: white;
}

#multiplierContainer fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#worker-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.worker {
  border: solid 0.2em #ffeb33;
  text-align: center;
}

.worker-name {
  background-color: #665c00;
  color: #fff599;
  width: 90%;
}

.worker-image {
  width: 300px;
  height: 300px;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-animation: grow 1000ms linear forwards;
          animation: grow 1000ms linear forwards;
}

.unaffordable {
  opacity: .05;
  text-align: center;
  border: solid 0.2em #ffeb33;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 375px) {
  .worker, .unaffordable, body {
    width: 80vw;
  }
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes grow {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media only screen and (max-width: 660px) {
  #worker-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}
/*# sourceMappingURL=App.css.map */