// table of contents
// 1. variables
// 2. default styling
// 3. tags
// 4. ids
// 5. classes
// 6. animation

// 1. variables
@import "./variables";

// 2. default styling
* {
    padding: .2em;
    width: fit-content;
    margin: .1em auto;
}

// 3. tags
@import "./tags";

// 4. ids
#multiplierContainer {
    font-size: $max-font / 1.618;
    background-color: $tertiary-color-200;
    color: $primary-color;
}
#worker-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// 5. classes
@import "./classes";

// 6. animation
@keyframes grow {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
