
$primary-color: hsl(0, 0%, 100%);
$secondary-color: hsl(0, 0%, 0%);
$tertiary-color-100: hsl(0, 100%, 80%);
$tertiary-color-200: hsl(0, 100%, 60%);
$tertiary-color-300: hsl(0, 100%, 40%);
$tertiary-color-400: hsl(0, 100%, 20%);
$max-font: 3rem;

* {
    padding: .2em;
    width: fit-content;
    margin: .1em auto;
}
body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: $tertiary-color-400;
    color: $secondary-color;
}
h1 {
    font-size: $max-font; 
}
h2, button {
    font-size: $max-font / 1.618;
}
#worker-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#multiplierContainer {
    font-size: $max-font / 1.618;
}
.worker {
    border: solid .2em $tertiary-color;
    text-align: center;
}
.worker-name {
    background-color: $tertiary-color;
    width: 90%;
}
span {
    padding: 0;
    margin: 0;
    color: $tertiary-color;
}
.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: grow 500 linear forwards;
}
.hidden {
    display: none;
}
@keyframes grow {
    from {font-size: 0%;}
    to {font-size: 100%;}
}