:root {

}
* {
  padding: .2em;
  margin: .2em;
  width: fit-content;
}
body {
  height: 98vh;
  width: 95vw;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
}


/* 
#display,
#upgradeContainer {
  display: flex;
  justify-content: center;
  height: 30vh;
}
h1, h2 {
  display: block;
}
button {
  margin-top: 10px;
  padding: 1em;
} */
